.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #cdba96;
	padding: 10px 15px;
	box-shadow: var(--shadow);
	border-bottom: 2px solid black;
}

.logo {
	font-family: Pacifico, sans-serif;
	font-size: 22px;
	text-decoration: underline;
}
